# frozen_string_literal: true

class <%= class_name %> < <%= base_class %>
<% input_declarations.each do |declaration| -%>
  <%= declaration %>
<% end -%>
<% unless skip_output? -%>

  output :result, type: String
<% end -%>

  make :assign_data

  private

  def assign_data
    # TODO: Implement service logic
<% unless skip_output? -%>
    outputs.result = "done"
<% end -%>
  end
end
