name: RuboCop

on:
  push:
    branches:
      - main
      - v1-stable
  pull_request:
    branches:
      - main
      - v1-stable

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  rubocop:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
      # required for all workflows
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"

      # This step is not necessary if you add the gem to your Gemfile
      - name: Install Code Scanning integration
        run: bundle add code-scanning-rubocop --version 0.6.1 --skip-install

      - name: Install dependencies
        run: bundle install

      - name: RuboCop run
        run: |
          bash -c "
            bundle exec rubocop --require code_scanning --format CodeScanning::SarifFormatter -o rubocop.sarif
            [[ $? -ne 2 ]]
          "

      - name: Upload Sarif output
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: rubocop.sarif
